.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mdc-data-table__header-row, .mdc-data-table__row {
  height: 40px !important;
}

.mdc-data-table__cell {
  border-bottom: none !important;
}